.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h2 {
  color: black;
}

.launchLogo {
  height: 50px;
}

ul.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.profilePic {
  margin-top: 5px;
}

.profile-rating-column {
  width: 75px;
  /* Adjust this value as needed */
}

.profile-score-column {
  width: 400px;
  /* Adjust this value as needed */
}

.profile-actions-column {
  width: 250px;
}



* {
  box-sizing: border-box;
}

.profile-links {
  display: flex;
  justify-content: center;
  width: 440px !important;
  background-color: #d4d4d4;
  /* border: 2px solid rgb(111, 0, 255); */
}

.profile-sidebar {
  /* border: 2px solid red; */
  justify-content: center;

}